<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simple_model_gazebo)/worlds/house.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
  </include>

  <arg name="model" default="$(find simple_model_gazebo)/urdf/simple_model_gazebo.urdf"/>
  <arg name="rvizconfig" default="$(find simple_model_gazebo)/rviz/default.rviz" />
  <param name="robot_description" textfile="$(arg model)" />

  <!-- Spawn robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
     args="-file $(find simple_model_gazebo)/urdf/simple_model_gazebo.urdf -urdf -model minimal2WD_sonar" />

   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
   <node name="cmd_vel_driver" pkg="simple_model_gazebo" type="driver.py" output="screen"/>
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
