<launch>
   <arg name="model" default="$(find simple_model_gazebo)/urdf/simple_model_gazebo.urdf"/>
   <arg name="rvizconfig" default="$(find simple_model_gazebo)/rviz/default.rviz" />

   <param name="robot_description" textfile="$(arg model)" />
   
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
